
<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Add coach | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="drive-coach change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Django administration</h1>

        </div>
        
        <div id="user-tools">
            Welcome,
            <strong>admin</strong>.
            
                
                
                
                <a href="/admin/password_change/">Change password</a> /
                
                <a href="/admin/logout/">Log out</a>
            
        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/drive/">Drive</a>
&rsaquo; <a href="/admin/drive/coach/">Coachs</a>
&rsaquo; Add coach
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Add coach</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="coach_form">{% csrf_token %}
<div>






<fieldset class="module aligned ">
   <table> 
 {% for field in form %}
<div>
      {% if field.name == "photo" and form.instance.photo.url%}
	 <!-- display the user photo -->
        <img src="{{ form.instance.photo.url }}" />
	Change: <input id="id_photo" name="photo" type="file" />

        {% else %}
       	 <!-- display regular fields -->
        {{ field.label_tag }}{{ field }}

      {% endif %}
    {% endfor %}
 </div>
          </table>
</fieldset>

</div>











<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />

</div>



   <script type="text/javascript">document.getElementById("id_name").focus();</script>




<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>

